<html>
<body style="background:#1ab7bc; padding-left: 1em; padding-right: 1em; padding-top: 1em; padding-bottom: 1em;">
<div class="container" style="background:white; width:98vw; margin: 0;">
    <input type="text" [(ngModel)]="inputDonnees" style="margin:1em;"><button (click)="add()" class="btn btn-info">Ajouter</button>
    <div *ngIf="aFaire.length>0">
        <ul *ngFor="let task of aFaire; index as i;">
            <li>
                {{task}}
                <button (click)="delete(i)" class="btn btn-outline-danger btn-xs">Supprimer</button>
            </li>
        </ul>
    </div>
</div>
</body>
</html>